.Chart {
    display: flex;
    flex-direction: column;
}

.Chart_title {
    margin-top: 5%;
    padding-left: 20%;
    color: #5F5D60;
}

.Chart-row__flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.Chart-scale__background {
    background-color: #e7e2e2;
}

.Chart-scale__field {
    transition: .4s;
    position: relative;
    background-color: #A0D7DE;
    height: 100%;
    text-align: center;
}

.Chart-scale__field p {
    padding: 15px 0;
    margin: 0;
}

.Chart-row__title {
    display: flex;
    justify-content: flex-end;
    width: 150px;
}


@media (max-width: 426px) {

    .Chart_title {
        margin-top: 40px;
        font-size: 25px;
        padding-left: 5%;
    }

    .Chart-row__flex {
        gap: 15px;
    }
}